      * {
         padding: 0;
         margin: 0;
         box-sizing: border-box;
      }
      .header-con {
         background: #cbdfe4;
      }
      .nav {
         display: flex;
         justify-content: space-between;
         padding: 20px;
         align-items: center;
      }
      .nav2 {
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding: 20px;
      }
      .main-con {
         display: grid;
         grid-template-columns: 60% 40%;
         grid-gap: 20px;
      }
      input[type="text"] {
         padding: 10px;
         width: 100%;
         border-radius: 50px;
         margin: 20px 2px;
         border: none;
         box-shadow: hsl(0, 0%, 70%) 0 0 10px;
      }
      textarea {
         box-shadow: hsl(0, 0%, 70%) 0 0 10px;
         border: none;
         margin: 10px 5px;
         height: 200px;
         width: 100%;
      }
      select {
         width: 80%;
         padding: 8px;
         border-radius: 50px;
         margin: 20px 5px;
         background: white;
         border: none;
         box-shadow: hsl(0, 0%, 70%) 0 0 10px;
      }
      button {
         width: 80%;
         padding: 10px;
         border: 5px solid red;
         background: blue;
         color: white;
         border-radius: 50px;
         margin-top: 10px;
      }
      .btn {
         padding: 12px;
         margin: 5px;
         
      }
      .footer {
         text-align: center;
         
      }
	.rd {
         margin: 10px 0;
      }
