 * {
         padding: 0;
         margin: 0;
         box-sizing: border-box;
      }
      header {
         background: #8c8c8c;
         font-family: Sans-Serif;
         font-size: 1.2em;
      }
       a {
         text-decoration: none;
         color: black;
      }
      header h2{
         text-align: center;
         padding: 10px 5px;
      }
      .header-container {
         display: flex;
         justify-content: space-around;
         align-items: center;
      }
      .note {
         box-shadow: hsl(0, 0%, 70%) 0 0 10px;
         width: 90%;
         padding: 10px;
         margin: 20px 5%;
      }
      .note p {
         margin: 10px 0 10px 25px;
      }
      .footer {
         text-align: center;
         margin-bottom: 20px;
    
      }
      .form-container {
         margin: 10px 5%;
         text-align: center;
         justify-content: center;
      }
      .search input{
         border-radius: 50px;
         padding: 12px;
         border: none;
         background: #cbcbcb;
         outline: none;
         width: 55%;
         float: left;
      }
      .btn {
         padding: 12px;
         border-radius: 50px;
         width: 30%;
         border: none;
         outline: none;
         background: #cbcbcb;
         margin-left: 10%;
         
      }
      @media only screen and (min-width:658px) {
         .row {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 5px;
            justify-content: space-around;
      }
