     * {
         padding: 0;
         margin: 0;
         box-sizing: border-box;
      }
      header {
         background: #8c8c8c;
         font-family: Sans-Serif;
         font-size: 1.2em;
      }
       a {
         text-decoration: none;
         color: black;
      }
      header h2{
         text-align: center;
         padding: 10px 5px;
      }
      .header-container {
         display: flex;
         justify-content: space-around;
         align-items: center;
      }   
      input {
         padding: 10px;
         width: 100%;
         border-radius: 50px;
         margin: 20px 2px;
         border: none;
         box-shadow: hsl(0, 0%, 70%) 0 0 10px;
      }
      textarea {
         box-shadow: hsl(0, 0%, 70%) 0 0 10px;
         border: none;
         margin: 10px 5px;
         height: 200px;
         width: 100%;
      }
      select {
         width: 80%;
         padding: 8px;
         border-radius: 50px;
         margin: 20px 5px;
         background: white;
         border: none;
         box-shadow: hsl(0, 0%, 70%) 0 0 10px;
      }
      button {
         width: 80%;
         padding: 10px;
         border: 5px solid red;
         background: blue;
         color: white;
         border-radius: 50px;
         margin-top: 10px;
      }
      .btn {
         padding: 12px;
         margin: 5px;
         
      }
      .footer {
         text-align: center;
         
      }
