{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/create.css' %}">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="notepad">
                <a href="#">NotePad</a>
            </div>
            <div class="todo">
                <a href="#">ToDo</a>
            </div>
        </div>
        <h2>Create Note</h2>
    </header>
    <main>
        <form action="" method="post">
	    {% csrf_token %}
            <div class="form-con">
                <div>
			{{form}}
		</div>
            
                <button>save note</button>
            </div>
        </form>
    </main>
    <footer>
        <p>codewitizzy&copy;2023</p>
    </footer>
</body>
</html>
