{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>sart</title>
   <link rel="stylesheet" href="{% static 'css/create.css' %}">
</head>
<body>
   <header>
      <div class="header-container">
         <div class="header1">
            <a href="#"><h1>NotePad</h1></a>
         </div>
         <div class="header2">
            <a href="#"><h1>ToDo</h1></a>
         </div>
      </div>
      <h2>Create Note</h2>
   </header>
   <main>
      <form action="" method="post">
	{%csrf_token%}
      <div class="main-con">
         <div class="fill">
            <div class="title">
               <input id="title" type="text" name="title" placeholder="title">
            </div>
            <div class="body">
               <textarea name="body" id="" cols="30" rows="10">body</textarea>
            </div>
         </div>
         <div class="cat-btn">
            <div class="cat">
		<input type="text" placeholder="Category" list="categories" name="category" required>
		<datalist id="categories">
		<select>
		   {% for cat in categories %}
		   <option value="{{ cat }}">{{ cat }}</option>
		   {% endfor %}
		</select>
		</datalist>
            </div>
            <div class="btn-div">
               <button>save</button>
            </div>
         </div>
      </div>
      </form>
      <a href="{%url 'index'%}"><button id="back">back</button></button>
   </main>
   <footer>
      <div class="footer">
         <h3>codewitizzy&copy;2023</h3>
      </div>
   </footer>
</body>
</html>

