{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Details</title>
   <link rel="stylesheet" href="{% static 'css/detail.css' %}">
</head>
<body>
    <header>
      <div class="header-container">
         <div class="header1">
		 <a href="{% url 'index' %}"><h1>NotePad</h1></a>
         </div>
         <div class="header2">
            <a href="#"><h1>ToDo</h1></a>
         </div>
      </div>
      <h2>Detail</h2>
   </header>
   <main>
      <section>
         <div class="title">
		 <h2>{{note.title}}</h2>
         </div>
         <div class="body">
		 <p>{{note.body}}</p>
            <div class="date">
		    <p>{{note.date}}</p>
            </div>
         </div>
      </section>
      <br>
      <br>
      <br>
      <br>
      <br>
         <a href="#"><button class="btn">update note</button></a>
	 <a href="{% url 'delete' note.id %}"><button class="btn">delete note</button></a>
   </main>
   <footer>
      <div class="footer">
         <h3>codewitizzy&copy;2023</h3>
      </div>
   </footer>
</body>
</html>
