{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>notepage</title>
   <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
   <header>
      <div class="header-container">
         <div class="header1">
            <a href="#"><h1>NotePad</h1></a>
         </div>
         <div class="header2">
            <a href="#"><h1>ToDo</h1></a>
         </div>
      </div>
      <h2>All Note</h2>
   </header>
   <main>
      <form action="">
      <div class="form-container">
         <div class="search">
            <input type="search" placeholder="search" name="search">
         </div>
         <div class="add-note">
            <button class="btn">add note</button>
         </div>
      </div>
      </form>
      <div class="note-container">
         <div class="row">
            <a href="#"><div class="note">
               <h3>This is a new note</h3>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum accusantium provident quia modi earum necessitatibus veniam debitis possimus repellat sunt.</p>
               <p>march 23 2020</p>
            </div></a>
            <a href="#"><div class="note">
               <h3>This is a new note</h3>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum accusantium provident quia modi earum necessitatibus veniam debitis possimus repellat sunt.</p>
               <p>march 23 2020</p>
            </div></a>
            <a href="#"><div class="note">
               <h3>This is a new note</h3>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum accusantium provident quia modi earum necessitatibus veniam debitis possimus repellat sunt.</p>
               <p>march 23 2020</p>
            </div></a>
            <a href="#"><div class="note">
               <h3>This is a new note</h3>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum accusantium provident quia modi earum necessitatibus veniam debitis possimus repellat sunt.</p>
               <p>march 23 2020</p>
            </div></a>
            <a href="#"><div class="note">
               <h3>This is a new note</h3>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum accusantium provident quia modi earum necessitatibus veniam debitis possimus repellat sunt.</p>
               <p>march 23 2020</p>
            </div></a>
            <a href="#"><div class="note">
               <h3>This is a new note</h3>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum accusantium provident quia modi earum necessitatibus veniam debitis possimus repellat sunt.</p>
               <p>march 23 2020</p>
            </div></a>
   </main>
   <footer>
      <div class="footer">
         <h3>codewitizzy&copy;2023</h3>
      </div>
   </footer>
</body>
</html>
